@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,regular,italic,600,600italic,700,700italic,800,800italic&display=swap&subset=cyrillic-ext");
@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700&display=swap&subset=cyrillic-ext");
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Open Sans";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Open Sans";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-family: "Open Sans";
  font-size: 18px;
  height: 100%;
  background: #333;
  font-style: normal;
  color: #fff;
}

.wrapper {
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template: 1fr minmax(100px, auto) / 1fr;
  grid-template-areas: "main" "footer";
}

.main {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: main;
}

.img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

._button:hover {
  background: #e0b65a;
}

.header {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 10;
}
@media (max-width: 992px) {
  .header {
    position: fixed;
  }
}
.header__column {
  padding: 0px 15px;
}
@media (max-width: 992px) {
  .header__column {
    padding: 0px 39px 0px 0px;
  }
}
.header__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: minmax(70px, auto);
  -ms-grid-columns: minmax(191px, 1fr) minmax(auto, 840px) minmax(auto, 270px)
    1fr;
  grid-template:
    minmax(70px, auto) / minmax(191px, 1fr) minmax(auto, 840px) minmax(
      auto,
      270px
    )
    1fr;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 1250px) {
  .header__items {
    -ms-grid-rows: minmax(70px, auto) minmax(70px, auto);
    -ms-grid-columns: minmax(191px, 1fr) minmax(auto, 840px) 1fr;
    grid-template:
      minmax(70px, auto) minmax(70px, auto) / minmax(191px, 1fr) minmax(
        auto,
        840px
      )
      1fr;
  }
}
.header__nav {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}
@media (max-width: 1250px) {
  .header__nav {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
}
.header__list {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  grid-auto-flow: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 63px;
  -moz-column-gap: 63px;
  column-gap: 63px;
}
@media (max-width: 1250px) {
  .header__list {
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
  }
}
@media (max-width: 992px) {
  .header__list {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    grid-auto-flow: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-column-gap: 0px;
    -moz-column-gap: 0px;
    column-gap: 0px;
    row-gap: 35px;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.05em;
  }
}
.header__link {
  font-family: "Open Sans Condensed";
  font-style: normal;
  font-weight: bold;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
}
.header__phone {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Open Sans Condensed";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #fff;
  -ms-grid-column-align: end;
  justify-self: end;
}
@media (max-width: 1250px) {
  .header__phone {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column-align: center;
    justify-self: center;
  }
}
@media (max-width: 992px) {
  .header__phone {
    -ms-flex-item-align: start;
    -ms-grid-row-align: start;
    align-self: start;
    -ms-grid-column-align: end;
    justify-self: end;
  }
}

.header__link_hover {
  position: relative;
  padding-bottom: 5px;
}
.header__link_hover::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #d1a954;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.header__link_hover:hover {
  opacity: 1;
  visibility: visible;
}
.header__link_hover:hover::before {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 992px) {
  .icon-menu {
    display: block;
    position: fixed;
    top: 60px;
    left: 39px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    opacity: 1;
    overflow: visible;
    z-index: 990;
  }
  .icon-menu span {
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    top: calc(45% - 1px);
    position: absolute;
    left: 0;
    width: 75%;
    height: 6px;
    background-color: #fff;
  }
  .icon-menu span:first-child {
    width: 100%;
    top: 0px;
  }
  .icon-menu span:last-child {
    width: 40%;
    top: auto;
    bottom: 0px;
  }
  .icon-menu._active {
    opacity: 0;
    overflow: hidden;
  }
}

.menu__body {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
  top: 0;
  left: -300px;
  position: fixed;
  background: #333;
  width: 100%;
  width: 300px;
  min-height: 100vh;
}
.menu__body._active {
  overflow: auto;
  left: 0;
  opacity: 1;
  visibility: visible;
}
.inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 92px 1fr 1fr;
  -ms-grid-columns: 300px;
  grid-template: 92px 1fr 1fr/300px;
}
.inner__close {
  cursor: pointer;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: end;
  justify-self: end;
  margin: 0px 38px 0px 0px;
  width: 16px;
  height: 16px;
}
.inner__close span {
  display: block;
  top: calc(45% - 1px);
  position: relative;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
}
.inner__close span:first-child {
  top: 0px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: calc(55% - 1px);
}
.inner__close span:last-child {
  bottom: 0px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  bottom: calc(50% - 1px);
}
.inner__icons {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 50px 1fr;
  -ms-grid-columns: 45px 71px 45px;
  grid-template: 1fr 1fr/45px 45px;
  -webkit-column-gap: 71px;
  -moz-column-gap: 71px;
  column-gap: 71px;
  row-gap: 50px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.inner__icon-link_facebook {
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
  -ms-grid-column-align: center;
  justify-self: center;
}
.inner__icon-link_instagram {
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
  -ms-grid-column-align: start;
  justify-self: start;
}
.inner__icon-link_youtube {
  -ms-grid-column-align: end;
  justify-self: end;
}
.sidebar {
  position: fixed;
  left: 0px;
  top: 0px;
  min-height: 100vh;
  width: 150px;
  overflow: hidden;
  background: rgba(51, 51, 51, 0.75);
}
@media (max-width: 992px) {
  .sidebar {
    display: none;
  }
}
.sidebar__content {
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr minmax(250px, auto) minmax(120px, auto) minmax(200px, auto);
  -ms-grid-columns: 150px;
  grid-template: 1fr minmax(250px, auto) minmax(120px, auto) minmax(200px, auto) / 150px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-items: center;
}
.sidebar__text {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  width: 250px;
  -ms-grid-row-align: center;
  align-self: center;
}
.sidebar__text span {
  font-family: "Open Sans Condensed";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #c4c4c4;
}
.sidebar__decor {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}
.sidebar__decor span {
  display: block;
  width: 3px;
  height: 80px;
  background: #c4c4c4;
}
.sidebar__socials {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  height: 100%;
}
.sidebar__item svg {
  fill: white;
}
.sidebar__item:hover svg {
  fill: gold;
}

.section-home {
  min-height: 100vh;
  background: url("../img/Rectanglemin.jpg") center/cover no-repeat;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: minmax(191px, 1fr) minmax(auto, 1110px) 1fr;
  grid-template: 1fr / minmax(191px, 1fr) minmax(auto, 1110px) 1fr;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 850px) {
  .section-home {
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 1fr;
    grid-template: 1fr/1fr;
    justify-items: center;
  }
}
@media (max-width: 850px) {
  .section-home {
    justify-items: start;
  }
}
.section-home__container {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: minmax(510px, 540px) minmax(auto, 125px) 370px
    minmax(auto, 75px);
  grid-template: 1fr / minmax(510px, 540px) minmax(auto, 125px) 370px minmax(
      auto,
      75px
    );
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 40px;
  padding-top: 60px;
}
@media (max-width: 1250px) {
  .section-home__container {
    -ms-grid-rows: 1fr;
    -ms-grid-columns: minmax(512px, 540px);
    grid-template: 1fr / minmax(512px, 540px);
  }
}
@media (max-width: 850px) {
  .section-home__container {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
}
.section-home__content {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}
.section-home__poster {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.content__title {
  font-family: "Open Sans Condensed";
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 87px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
  padding: 0px 0px 50px 0px;
}
.content__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #fff;
  padding: 0px 0px 50px 0px;
}
.content__button-link {
  text-transform: uppercase;
  font-family: "Open Sans Condensed";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  outline: none;
  color: #fff;
  padding: 18px 47px 18px 47px;
  width: 160px;
  background-color: #d1a954;
}

.poster {
  cursor: pointer;
}
@media (max-width: 1250px) {
  .poster {
    display: none;
  }
}
.poster__control {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  padding: 35px 0px 0px 0px;
}

.control {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Open Sans Condensed";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
}
.control__prev {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -ms-grid-column-align: start;
  justify-self: start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 25px;
  -moz-column-gap: 25px;
  column-gap: 25px;
}
.control__prev svg {
  fill: white;
}
.control__prev:hover svg {
  fill: #c4c4c4;
}
.control__prev:hover .span__prev {
  color: #c4c4c4;
}
.control__next {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-grid-column-align: end;
  justify-self: end;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -webkit-column-gap: 25px;
  -moz-column-gap: 25px;
  column-gap: 25px;
}
.control__next svg {
  fill: white;
}
.control__next:hover svg {
  fill: #c4c4c4;
}
.control__next:hover .span__next {
  color: #c4c4c4;
}

/* slider */
.poster__slider {
  position: relative;
  width: 370px;
  height: 510px;
}
.poster__slider .poster__slider_top {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
}
.poster__slider .poster__slider_bottom {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.swiper-containerHome {
  margin: 0 auto;
  width: 368px;
  height: 510px;
  overflow: hidden;
}

.swiper-slide {
  position: relative;
}

/* slider */
@media (min-width: 992px) {
  .section-description {
    margin-left: 40px;
  }
}
.section-description__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr minmax(auto, 1110px) 1fr;
  grid-template: 1fr/1fr minmax(auto, 1110px) 1fr;
}
@media (max-width: 1321px) {
  .section-description__container {
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 1fr 691px 1fr;
    grid-template: 1fr/1fr 691px 1fr;
  }
}
@media (max-width: 767px) {
  .section-description__container {
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 1fr 509px 1fr;
    grid-template: 1fr/1fr 509px 1fr;
  }
}
.section-description__row {
  margin: 80px 0px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-rows: auto auto;
  -ms-grid-columns: 1fr;
  grid-template: auto auto/1fr;
  justify-items: center;
}
@media (min-width: 767px) {
  .section-description__row {
    margin: 90px 0px;
  }
}
@media (min-width: 992px) {
  .section-description__row {
    margin: 150px 0px;
  }
}
.section-description__title {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  padding-bottom: 100px;
}
@media (max-width: 767px) {
  .section-description__title {
    padding-bottom: 60px;
  }
}
.section-description__inner {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: minmax(auto, 445px) 30px minmax(auto, 255px) 30px
    minmax(auto, 350px);
  grid-template: auto/minmax(auto, 445px) minmax(auto, 255px) minmax(
      auto,
      350px
    );
  color: #fff;
  font-style: normal;
}
@media (max-width: 1321px) {
  .section-description__inner {
    -ms-grid-rows: auto;
    -ms-grid-columns: 445px 210px;
    grid-template: auto/445px 210px;
  }
}
@media (max-width: 767px) {
  .section-description__inner {
    -ms-grid-rows: auto 27px auto;
    -ms-grid-columns: 504px;
    grid-template: auto auto/504px;
    -webkit-column-gap: 0px;
    -moz-column-gap: 0px;
    column-gap: 0px;
    row-gap: 27px;
    -ms-grid-column-align: center;
    justify-self: center;
    text-align: center;
  }
}
.section-description__story {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}
.section-description__text {
  font-family: "Open Sans";
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
}
.section-description__statistics {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
}
@media (max-width: 767px) {
  .section-description__statistics {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-rows: auto auto;
    -ms-grid-columns: 252px 252px;
    grid-template: auto auto/252px 252px;
  }
}
.section-description__image {
  position: relative;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}
.section-description__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
@media (max-width: 1250px) {
  .section-description__image {
    display: none;
  }
}

.title {
  font-family: "Open Sans Condensed";
  font-weight: 300;
  font-size: 48px;
  line-height: 65px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
}
.title__span_orange {
  color: #d1a954;
}

.statistics__subtitle {
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
  align-self: start;
}
@media (max-width: 767px) {
  .statistics__subtitle {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
}
.statistics__items {
  padding-bottom: 30px;
}
@media (max-width: 767px) {
  .statistics__items {
    -ms-grid-column-align: center;
    justify-self: center;
    -ms-flex-item-align: start;
    -ms-grid-row-align: start;
    align-self: start;
  }
}
.statistics__items:last-child {
  padding-bottom: 0px;
}
.statistics__icon {
  width: 70px;
  height: 70px;
}
.statistics__desc {
  font-family: "Open Sans Condensed";
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
  padding-top: 17px;
}
.statistics__desc span {
  color: #d1a954;
}

.subtitle__section-description {
  font-family: "Open Sans Condensed";
  font-weight: bold;
  font-size: 21px;
  line-height: 29px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding-bottom: 40px;
}

.performances {
  background: #333333;
  padding-bottom: 150px;
  width: 100%;
  max-width: 100vw;
  overflow: hidden;
}
@media (max-width: 568px) {
  .performances {
    min-width: 509px;
    margin: 0 auto;
  }
}
@media (min-width: 992px) {
  .performances {
    margin-left: 40px;
  }
}
.performances__title {
  width: 100%;
  padding: 0px 33px;
  text-align: center;
  margin-bottom: 100px;
}

.performances__items {
  cursor: pointer;
}
.performances__slider-container {
  margin: 0px 30px 0px 150px;
}
@media (max-width: 992px) {
  .performances__slider-container {
    margin: 0px auto;
    padding: 0px 33px;
  }
}
.performances__item {
  position: relative;
  top: 0px;
  left: 0px;
  height: 550px;
}
.performances__item img {
  width: 100%;
  height: 550px;
}
.performances__item:hover .performances__text,
.performances__item:hover .performances__span {
  display: none;
}
.performances__item:hover .performances__form {
  display: block;
}
.performances__poster {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 550px;
}
.performances__poster img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.performances__text {
  position: absolute;
  min-width: 100%;
  height: 550px;
  top: 0px;
  left: 0px;
  z-index: 2;
  background: rgba(51, 51, 51, 0.657);
}
.performances__span {
  display: inline-block;
  font-family: "Open Sans Condensed";
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.performances__span_top {
  position: absolute;
  top: 40px;
  left: 40px;
}
.performances__span_bottom {
  position: absolute;
  bottom: 95px;
  left: -10px;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
}
.performances__form {
  display: none;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  margin: auto;
  background: #d1a954;
  border-radius: 50%;
}
.performances__form:hover {
  background: #e0b65a;
}
.performances__button {
  margin: 35px 35px 35px 35px;
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url("../img/glass.png") center/contain no-repeat;
}

.swiper-container {
  max-width: 100vw;
}
@media (max-width: 568px) {
  .swiper-container {
    width: 100%;
    max-width: 509px;
  }
}

.placard {
  background: #333;
  padding: 0px 0px 150px 0px;
  max-width: 100%;
}
.placard__container {
  width: 100%;
  max-width: 1100px;
  height: 540px;
  margin: 0 auto;
  background: url("../img/postermin.jpg") center/cover no-repeat;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: minmax(auto, 465px) minmax(auto, 635px);
  grid-template: 1fr / minmax(auto, 465px) minmax(auto, 635px);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 720px) {
  .placard__container {
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 190px 24px 1fr;
    grid-template: 1fr/190px 1fr;
    -webkit-column-gap: 24px;
    -moz-column-gap: 24px;
    column-gap: 24px;
  }
}
.placard__data {
  -ms-grid-column-align: center;
  justify-self: center;
}
@media (max-width: 720px) {
  .placard__data {
    -ms-grid-column-align: start;
    justify-self: start;
    padding: 0px 0px 0px 33px;
  }
}
.placard__year {
  display: block;
  color: #d1a954;
  font-family: "Open Sans Condensed";
  font-weight: bold;
  font-size: 72px;
  line-height: 98px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.placard__info {
  font-weight: bold;
  font-size: 36px;
  line-height: 150%;
}
@media (max-width: 992px) {
  .placard__info {
    font-size: 34px;
  }
}
@media (max-width: 767px) {
  .placard__info {
    font-size: 29px;
  }
}
@media (max-width: 625px) {
  .placard__info {
    font-size: 24px;
  }
}
.placard__img span {
  display: inline-block;
  width: 26px;
  height: 24px;
  margin-right: 15px;
}
.placard__description {
  padding: 0px 30px 0px 0px;
}
@media (min-width: 1100px) {
  .placard__description {
    padding: 0px 95px 0px 0px;
  }
}
@media (max-width: 625px) {
  .placard__description {
    padding: 0px 95px 0px 0px;
  }
}
@media (min-width: 992px) {
  .partnership {
    margin-left: 40px;
  }
}
.partnership__container {
  width: 100%;
  max-width: 1100px;
  margin: 0px auto;
  padding-bottom: 120px;
}
@media (min-width: 1450px) {
  .partnership__container {
    margin: 0px auto;
  }
}
@media (max-width: 1321px) {
  .partnership__container {
    max-width: 680px;
    overflow: hidden;
  }
}
@media (max-width: 768px) {
  .partnership__container {
    max-width: 510px;
    overflow: hidden;
  }
}
.partnership__title {
  text-align: center;
  padding-bottom: 100px;
}
@media (max-width: 767px) {
  .partnership__title {
    margin: 0px auto;
    max-width: 510px;
  }
}
.partnership__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 100px;
  -ms-grid-columns: 227px 75px 227px 75px 227px 75px 227px;
  grid-template: 100px / repeat(4, 227px);
  gap: 75px;
}
@media (min-width: 767px) {
  .partnership__items {
    grid-auto-rows: 100px;
  }
}
@media (max-width: 767px) {
  .partnership__items {
    -ms-grid-rows: 100px 100px;
    -ms-grid-columns: 227px 227px;
    grid-template: 100px 100px/227px 227px;
    height: 275px;
    overflow: hidden;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
  }
}
.sponsorship {
  margin-bottom: 80px;
}
@media (min-width: 1250px) {
  .sponsorship {
    margin: 0px auto 80px 191px;
  }
}
@media (max-width: 845px) {
  .sponsorship {
    width: 100%;
    max-width: 510px;
    margin: 0px auto 60px;
  }
}
.sponsorship__title {
  text-align: center;
  padding-bottom: 100px;
}

@media (min-width: 992px) {
  .sponsorship {
    margin-left: 40px;
  }
}
.sponsorship__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 255px 125px 720px;
  grid-template: 1fr/255px 720px;
  -webkit-column-gap: 125px;
  -moz-column-gap: 125px;
  column-gap: 125px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media (max-width: 1321px) {
  .sponsorship__container {
    -webkit-column-gap: 0px;
    -moz-column-gap: 0px;
    column-gap: 0px;
    row-gap: 80px;
    -ms-grid-rows: 1fr 80px minmax(50px, auto);
    -ms-grid-columns: 720px;
    grid-template: 1fr minmax(50px, auto) / 720px;
  }
}
@media (max-width: 845px) {
  .sponsorship__container {
    -ms-grid-rows: 1fr 50px minmax(50px, auto);
    -ms-grid-columns: 509px;
    grid-template: 1fr minmax(50px, auto) / 509px;
    row-gap: 50px;
  }
}
@media (max-width: 1250px) {
  .sponsorship__contact {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr;
    -ms-grid-columns: 360px 360px;
    grid-template: 1fr 1fr/360px 360px;
  }
}
@media (max-width: 845px) {
  .sponsorship__contact {
    -ms-grid-rows: 1fr 1fr;
    -ms-grid-columns: 150px 359px;
    grid-template: 1fr 1fr/150px 359px;
  }
}
.sponsorship__link {
  display: inline-block;
  padding-bottom: 25px;
  font-family: "Open Sans Condensed";
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #fff;
}
@media (max-width: 1250px) {
  .sponsorship__connection {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
}
.sponsorship__form {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 35px 30px 35px 30px 70px;
  -ms-grid-columns: 180px 30px 180px 30px 310px;
  grid-template: 35px 35px 70px/180px 180px 310px;
  gap: 30px;
}
@media (max-width: 845px) {
  .sponsorship__form {
    -ms-grid-rows: 35px 30px 35px 30px 100px 30px 50px 30px 50px;
    -ms-grid-columns: 230px 50px 230px;
    grid-template: 35px 35px 100px 50px 50px/230px 230px;
    row-gap: 30px;
    -webkit-column-gap: 50px;
    -moz-column-gap: 50px;
    column-gap: 50px;
    margin: 0px auto;
  }
}

.form__name {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}
.form__input {
  width: 100%;
  background: #444;
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
  padding: 10px 0px 10px 10px;
  color: white;
  font-size: 14px;
  font-weight: 600;
}
.form__input::-webkit-input-placeholder {
  color: #989898;
  padding: 0px 10px 10px 0px;
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
}
.form__input::-moz-placeholder {
  color: #989898;
  padding: 0px 10px 10px 0px;
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
}
.form__input:-ms-input-placeholder {
  color: #989898;
  padding: 0px 10px 10px 0px;
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
}
.form__input::-ms-input-placeholder {
  color: #989898;
  padding: 0px 10px 10px 0px;
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
}
.form__input::placeholder {
  color: #989898;
  padding: 0px 10px 10px 0px;
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
}
.form__company {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}
.form__phone {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}
.form__messages {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}
@media (max-width: 845px) {
  .form__messages {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    margin-bottom: 10px;
  }
}
.form__email {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}
.form__text {
  margin-top: 10px;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
  color: #989898;
}
@media (max-width: 845px) {
  .form__text {
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    text-align: center;
  }
}
.form__button {
  margin-top: 10px;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-column-align: end;
  justify-self: end;
  background: #d1a954;
  width: 190px;
  height: 50px;
  font-family: "Open Sans Condensed";
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
}
@media (max-width: 845px) {
  .form__button {
    -ms-grid-column-align: center;
    justify-self: center;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
}

@media (max-width: 1250px) {
  .sponsorship__link-phone1 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}
@media (max-width: 1250px) {
  .sponsorship__link-phone2 {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }
}
@media (max-width: 1250px) {
  .sponsorship__link-email {
    -ms-grid-column-align: end;
    justify-self: end;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
}
@media (max-width: 1250px) {
  .sponsorship__link-address {
    -ms-grid-column-align: end;
    justify-self: end;
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
  }
}

.footer {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: footer;
}

.footer {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media (min-width: 992px) {
  .footer {
    margin-left: 40px;
  }
}
.footer__container {
  width: 100%;
  width: 1100px;
  margin: 0px auto;
  border-top: 1px solid #565656;
  color: white;
}
@media (max-width: 1321px) {
  .footer__container {
    width: 720px;
  }
}
@media (max-width: 845px) {
  .footer__container {
    width: 509px;
  }
}
.footer__copy {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: minmax(80px, auto);
  -ms-grid-columns: 272px 1fr;
  grid-template: minmax(80px, auto) / 272px 1fr;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
  color: #989898;
  padding-top: 30px;
}
.footer__span {
  -ms-grid-column-align: end;
  justify-self: end;
}

.partners-slider {
  overflow: hidden;
}
.partners-slider__inner {
  display: flex;
}
.partners-slider__item {
  height: 100px;
  width: 250px;
  padding-left: 39px;
  padding-right: 39px;
  text-align: center;
  margin-bottom: 80px;
}
.partners-slider__img {
  width: 200px;
}
.partners-slider__img img {
  display: block;
  width: 100%;
  height: auto;
}
