* {
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}
body {
  max-width: 1920px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1120px;
}
.header a {
  color: #969696;
}
.topline {
  background: #000;
}
.topline-content {
  width: 100%;
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #969696;
  font-size: 12px;
  line-height: 16px;
}
.info,
.login {
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info-phone,
.info-workday,
.info-worktime {
  padding-left: 16px;
}
.info-phone::after,
.info-workday::after {
  content: "|";
  padding-left: 16px;
  text-align: center;
}
.login-image {
  padding-right: 5px;
}
.login-enter {
  padding-right: 5px;
}
.login-registr {
  padding-left: 5px;
}
.login-enter:hover,
.login-registr:hover {
  color: #fff;
}
.navbar-wrap {
  background: #0f0f0f;
  padding: 0;
}
.navbar {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
.logo:hover {
  transition: all 0.3s ease;
  opacity: 0.8;
}
.navbar__burger {
  display: none;
}
.menu-list {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
.menu-link {
  height: 100%;
  padding: 30px;
}
.menu-link:hover {
  background: #1f1f1f;
  color: #fff;
  transition: all 0.5s ease;
}
.menu-cart {
  padding: 20px;
}
.menu-search {
  padding: 20px;
}
.label {
  min-height: 810px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #000 url("../img/header.jpg") center/cover no-repeat;
  color: #fff;
}
.label-logo {
  height: 320px;
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.label-logo_img {
  padding-bottom: 6px;
  margin-bottom: 6px;
}
.label-logo h2 {
  text-transform: uppercase;
  font-size: 22px;
  line-height: 28px;
}
.label-text {
  min-height: 96px;
  max-width: 730px;
  padding-top: 80px;
}
.label-text p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}
.catalogue {
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
}
.catalogue h2 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
}
.catalogue .catalogue-line {
  width: 120px;
  height: 1px;
  background: #fff;
  margin: 50px 0;
}
.watches {
  width: 55%;
  background: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.catalogue .samples {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sample {
  width: 260px;
  height: 385px;
  margin: 0 25px;
}
.sample .watch-wrap {
  width: 100%;
  height: 325px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #191b1c;
}
.sample .watch {
  height: 215px;
  width: 215px;
  background: #191b1c;
}
.sample .name {
  font-family: "Playfair Display", serif;
  font-size: 18px;
  line-height: 24px;
  margin: 25px 0 10px;
}
.sample .price {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #d0d0d0;
}
#carouselControls {
  display: none;
}
.catalogue-link {
  width: 45%;
  background: url("../img/catalogue.jpg") left top/cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.catalogue-link span {
  margin: 30px 0;
}
.catalogue-link a {
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 32px;
  margin-bottom: 100px;
}
.catalogue-line a:hover,
.previous-collection-about a:hover {
  color: #000;
  background: #fff;
  transition: all 0.3s ease;
}
.previous_collection {
  min-height: 600px;
  width: 100%;
  display: flex;
  background: #000;
}
.previous-collection-image {
  height: 600px;
  width: 100%;
  background: url("../img/collection.jpg") top center/cover no-repeat;
}
.previous-collection-about {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.previous-collection-about h2 {
  font-family: "Playfair Display", serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
.previous-collection-about span {
  width: 120px;
  height: 1px;
  background: #fff;
  margin: 40px 0;
}
.previous-collection-about p {
  max-width: 470px;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #fff;
}
.previous-collection-about a {
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 32px;
  margin: 60px 0 0 0;
}
.collection-wrap {
  background: #000;
}
.collection {
  min-height: 1290px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.collection h2 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
}
.collection span {
  width: 120px;
  height: 1px;
  background: #fff;
  margin: 40px 0 80px;
}
.collection .samples {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.collection .sample {
  margin: 0 7px 120px;
}
.brands-wrap {
  background: #0f0f0f;
}
.brands {
  width: 100%;
  min-height: 362px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.brands h2 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 0;
  padding-top: 60px;
}
.brands span {
  width: 120px;
  height: 1px;
  background: #fff;
  margin: 40px 0;
}
.brand_labels {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 80px;
}
.brand_label {
  margin-right: 30px;
}
.footer {
  min-height: 450px;
  width: 100%;
  color: #fff;
}
.shop-wrap {
  background: url("../img/footer.jpg") center/cover no-repeat;
}
.shop {
  min-height: 400px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.shop h2 {
  font-family: "Playfair Display", serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
  margin: 80px 0 40px;
}
.shop p {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}
.shop-about {
  width: 350px;
}
.shop-categories {
  width: 350px;
}
.shop-categories a {
  display: inline-flex;
  background: #0f0f0f;
  color: #d0d0d0;
  padding: 10px 20px;
  margin: 10px;
}
.shop-categories a:hover {
  background: #1f1f1f;
  color: #fff;
  transition: all 0.5s ease;
}
.shop-mailing {
  width: 350px;
  margin-bottom: 20px;
}
.shop-mailing form {
  display: flex;
  align-items: center;
}
.shop-mailing input {
  width: 210px;
  height: 40px;
  background: #ffffff66;
  padding: 10px;
  border: none;
  margin: 0;
  color: #fff;
}
.shop-mailing input::placeholder {
  color: #d0d0d0;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  padding: 10px;
}
.shop-mailing input:focus {
  outline: none;
}
.shop-mailing button {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.05em;
  color: #fff;
  background: #0f0f0f;
  padding: 10px 15px;
  outline: none;
  border: none;
}
.bottom-wrap {
  background: #0f0f0f;
}
.bottom {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  line-height: 16px;
  color: #d0d0d0;
}
@media (max-width: 1440px) {
  .catalogue {
    flex-wrap: wrap;
  }
  .watches {
    height: 640px;
  }
  .catalogue-link {
    height: 640px;
  }
}
@media (max-width: 1700px) {
  .catalogue .sample {
    margin: 0 10px;
  }
}
@media (max-width: 1200px) {
  .previous_collection {
    flex-wrap: wrap;
  }
  .previous-collection-image {
    height: 555px;
  }
  .previous-collection-about {
    padding: 40px 0;
  }
  .previous-collection-about a {
    margin: 40px 0;
  }
  .collection .sample {
    margin: 0 10px 60px;
  }
  .brand_labels {
    flex-wrap: wrap;
  }
  .watches,
  .catalogue-link {
    width: 100%;
}
@media (max-width: 768px) {
  body.lock {
    overflow: hidden;
  }
  .topline .info,
  .topline .login {
    z-index: 2;
  }
  .info-workday,
  .info-worktime,
  .info-phone::after,
  .info-workday::after {
    display: none;
  }
  .navbar-wrap .container {
    padding: 0;
  }
  .logo {
    margin-left: 12px;
    z-index: 2;
  }
  .navbar__burger {
    display: block;
    position: relative;
    width: 25px;
    height: 16px;
    margin-right: 12px;
    z-index: 2;
  }
  .navbar__burger span {
    background: #fff;
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    top: 7px;
    transition: all 0.5s;
  }
  .navbar__burger:before,
  .navbar__burger:after {
    content: "";
    background: #fff;
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    transition: all 0.3s;
  }
  .navbar__burger:before {
    top: 0;
  }
  .navbar__burger:after {
    bottom: 0;
  }
  .navbar__burger.open span {
    transform: scale(0);
  }
  .navbar__burger.open:before {
    transform: rotate(-45deg);
    top: 7px;
    transition: all 0.3s;
  }
  .navbar__burger.open:after {
    transform: rotate(45deg);
    bottom: 7px;
    transition: all 0.3s;
  }
  .menu {
    position: fixed;
    width: 100%;
    background: #000;
    top: 0px;
    left: 0;
    height: 100%;
    transform: translateX(+100%);
    opacity: 0;
    transition: all 0.5s;
    z-index: -1;
  }
  .menu.open {
    transform: translatex(0);
    opacity: 0.93;
    z-index: 1;
  }
  .menu-list {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 100px 0 0;
  }
  .menu li {
    margin: 12px;
  }
  .menu a {
    font-size: 16px;
    color: #fff;
  }
  .menu-cart {
    padding: 0px;
  }
  .menu-search {
    padding: 0px;
  }
  .menu-link {
    height: 100%;
    padding: 0;
  }
  .label-text {
    margin: 0 24px;
  }
  .catalogue .watches {
    height: 550px;
  }
  .catalogue .catalogue-line {
    width: 120px;
    height: 1px;
    background: #fff;
    margin: 25px 0;
  }
  .catalogue .samples {
    display: none;
  }
  #carouselControls {
    display: block;
  }
  .carousel .name {
    margin: 12px 0 5px;
  }
  .carousel-control-prev {
    left: -40px;
  }
  .carousel-control-next {
    right: -40px;
  }
  .catalogue-link {
    height: 420px;
  }
  .previous-collection-image {
    height: 420px;
  }
  .previous-collection-about a {
    margin: 25px 0;
  }
  .collection {
    min-height: 1024px;
  }
  .collection h2 {
    padding: 10px 0 0;
  }
  .collection span {
    margin: 20px 0 40px;
  }
  .collection .name {
    margin: 10px 0 5px;
  }
  .shop {
    flex-wrap: wrap;
  }
  .shop h2 {
    margin: 20px 0;
  }
}
@media (max-width: 425px) {
  .previous_collection span {
    margin: 20px 0 40px;
  }
  .previous-collection-about p {
    margin: 0 16px;
  }
  .previous-collection-about a {
    margin: 16px 0;
  }
  .collection .sample {
    margin: 0 10px 30px;
  }
  .brands h2 {
    padding-top: 40px;
  }
  .brands span {
    margin: 40px 0 40px;
  }
  .brand_labels {
    padding-bottom: 60px;
  }
  .shop {
    padding: 20px;
  }
  .shop-mailing form {
    flex-direction: column;
    align-items: start;
  }
  .shop-mailing button {
    margin-top: 10px;
  }
}
